@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-sub: 59 130 246;
  --color-accent: 234 88 12;
  --color-pane: 243 244 246;
}

.theme-luna {
  --color-sub: 246 171 59;
  --color-accent: 12 60 234;
  --color-pane: 243 244 246;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

.theme-luna .bg-sub.text-white {
  color: black;
}
