@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

@keyframes auto-repeat-progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.auto-repeat-progress {
  animation: auto-repeat-progress 5s linear infinite;
}
