@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-sub: 59 130 246;
  --color-accent: 234 88 12;
  --color-pane: 243 244 246;
  --color-hp-bar: 147 197 253;
  --color-hp-bar-mild: 147 197 253;
  --color-hp-taken: 252 183 134;
  --side-quest-icon-filter: brightness(0) saturate(100%) invert(53%) sepia(98%) saturate(1624%) hue-rotate(199deg) brightness(99%) contrast(94%);
  --side-quest-icon-opacity: 0.9;
}

.theme-luna {
  --color-sub: 194 136 50;
  --color-accent: 12 60 234;
  --color-pane: 243 244 246;
  --color-hp-bar: 223 190 128;
  --color-hp-bar-mild: 232 181 104;
  --color-hp-taken: 255 237 145;
  --side-quest-icon-filter: brightness(0) saturate(100%) invert(58%) sepia(48%) saturate(716%) hue-rotate(356deg) brightness(92%) contrast(90%);
  --side-quest-icon-opacity: 0.9;
}

.theme-luna .text-blue-600 {
  color: rgb(var(--color-sub));
}

.theme-luna .bg-blue-50 {
  background-color: rgb(var(--color-sub) / 0.12);
}

.theme-luna .bg-blue-100 {
  background-color: rgb(var(--color-sub) / 0.2);
}

.theme-luna .bg-blue-500 {
  background-color: rgb(var(--color-sub));
}

.theme-luna .hover\:bg-blue-600:hover {
  background-color: rgb(var(--color-sub) / 0.9);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

.side-quest-theme-icon {
  display: inline-block;
  filter: var(--side-quest-icon-filter);
  opacity: var(--side-quest-icon-opacity);
}
